<!-- ===================================== -->
<!-- IF NOT LOADING -->

<div *ngIf="!loading">

  <div *ngIf="copy" class="alert alert-success" role="alert">
    <div class="alert-items">
      <div class="alert-item static">
        <div class="alert-icon-wrapper">
          <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
        </div>
        <span class="alert-text">Successfully copied group-link to clipboard!</span>
      </div>
    </div>
  </div>

  <h1>Your Group: <span class="text-info">{{group.name}}</span>
    <clr-icon (click)="copyLink()" class="pointer grow text-gray-dark copyIcon" ngxClipboard [cbContent]="groupLink"
              shape="share"></clr-icon>

    <p>Price limit: CHF {{group.priceLimit}}</p>

  </h1>

  <hr>

  <h2><span class="badge big">{{group.members.length}}</span>Group members:</h2>

  <div class="member-container ">
    <div (click)="showGroup(member)" class="card memberCard smallerGrow" *ngFor="let member of group.members">
      <div class="card-header">
        {{ member }}
      </div>
    </div>
  </div>

  <br/>


</div>


<!-- ===================================== -->
<!-- IF LOADING -->
<div *ngIf="loading">

  <h1>Loading your group...</h1>
  <div class="progress loop"><progress></progress></div>

</div>

<!-- ===================================== -->
<!-- IF SHOW GROUP PARTNER -->
<div *ngIf="showPartner" class="modal">
  <div class="modal-dialog" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" (click)="showPartner=false" class="close" type="button">
          <clr-icon aria-hidden="true" shape="close"></clr-icon>
        </button>
        <h3 class="modal-title">Group partner</h3>
      </div>
      <div class="modal-body">
        <h4>Your partner: <span class="text-info font-weight-bold">{{partner}}</span></h4>
      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</div>
