<h2>Don't know what <span class="text-info">Wichteln</span> is?</h2>

<p>Lorem ipsum dolor amet church-key activated charcoal aesthetic next level pork belly, flexitarian artisan tote bag slow-carb try-hard austin locavore mumblecore. <br />Health goth hell of sriracha thundercats. Franzen art party tumblr banh mi iceland cray. Hexagon narwhal kinfolk bespoke skateboard fam.</p>

<br/>
<br/>

<h2>You found a <span class="text-info">bug</span>?</h2>

<p>Nice! Please create an issue on my repository and help improving this app!</p>

<a href="https://github.com/hackherlin/wichtel-app" target="_blank">Report the bug here</a>

<br/>
<br/>

<hr>
<p>Created with 💓 by <a href="https://github.com/hackherlin" target="_blank">@hackherlin</a> | 2018</p>
