<clr-main-container>
  <clr-header>

    <div class="branding">
      <a routerLink="home" class="nav-link">
        <clr-icon shape="firewall"></clr-icon>
        <span class="title">Wichteln App</span>
      </a>
    </div>

    <div class="header-nav">
      <a class="nav-link nav-icon" routerLink="home" routerLinkActive="active">
       <clr-icon shape="home"></clr-icon>
      </a>
      <a class="nav-link nav-icon" routerLink="create" routerLinkActive="active">
        <clr-icon shape="wrench"></clr-icon>
      </a>
    </div>                                                                  

    <div class="header-actions">
      <a class="nav-link nav-icon" routerLink="about" routerLinkActive="active">
       <clr-icon shape="info-standard"></clr-icon>
      </a>
    </div>
  </clr-header>
  <div class="content-container">
    <main class="content-area">

      <router-outlet></router-outlet>

    </main>
  </div>
</clr-main-container>
